{% extends "rating/base.html" %}

{% block title %}
    Come back later.
{% endblock %}

{% block container %}
    <div class="">
        <div class="oc-header clearfix">
            <h1>
                Woo hoo! All applications have already been rated. Please check back later. We appreciate your help.
            </h1>
        </div>
    </div>
    <div class="oc-container oc-info">
    </div>
    <div>
        <div class="oc-row oc-footer">
            <div>
                <p>Logged in as: {{user.email}}</p>
            </div>
        </div>
    </div>

{% endblock %}
