body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
.info {
    padding-left: 30px;
    padding-right: 30px;
}

.rate-btns {
    text-align: center;
}
